#header-nav {
  background-color: bfbfbf;
  border: 2px solid black;
  border-radius: 0;
}
#header-nav h1 {
  color: black;
}
#item1, #item2, #item3{
	padding: 10px;
	background-color: bfbfbf;
	margin-bottom: 30px;
}
h2{
	margin-bottom: 20px;
	color: black;
}
h3{
	text-transform: uppercase;
	font-size: 1.4em;
	color: black;
	margin-top: 10px;
}
p{
	color: black;
	padding: 15px;
}
a{
	text-transform: uppercase;

}
a:hover{
	text-decoration: none;
}
